In [84]:
#import required libraries
import pandas as pd
import numpy as np

In [85]:
#Create dataframe containing wikitable data
url = 'https://en.wikipedia.org/wiki/List_of_postal_codes_of_Canada:_M'
data = pd.read_html(url, header=0)
df = data[0]
df.head()

  Postal Code           Borough               Neighborhood
0         M1A      Not assigned                        NaN
1         M2A      Not assigned                        NaN
2         M3A        North York                  Parkwoods
3         M4A        North York           Victoria Village
4         M5A  Downtown Toronto  Regent Park, Harbourfront

In [86]:
#Remove rows with no info of Borough
df = df[df['Borough']!='Not assigned']
df.head()

  Postal Code           Borough                                 Neighborhood
2         M3A        North York                                    Parkwoods
3         M4A        North York                             Victoria Village
4         M5A  Downtown Toronto                    Regent Park, Harbourfront
5         M6A        North York             Lawrence Manor, Lawrence Heights
6         M7A  Downtown Toronto  Queen's Park, Ontario Provincial Government

In [87]:
#Find any missing values in the dataframe
df.isnull().sum()
x = df['Neighborhood']
for i in range(len(x)):
        if x.iloc[i] == 'Not assigned':
            print(i)
        else:
            pass
print('Null values found for each column\n', df.isnull().sum())

Null values found for each column
 Postal Code     0
Borough         0
Neighborhood    0
dtype: int64

No values in the neighbourhood columns are not assigned

In [88]:
#Groupby function
df1 = df.groupby(['Postal Code','Borough']).sum()
df1.head()

                                                   Neighborhood
Postal Code Borough
M1B         Scarborough                          Malvern, Rouge
M1C         Scarborough  Rouge Hill, Port Union, Highland Creek
M1E         Scarborough       Guildwood, Morningside, West Hill
M1G         Scarborough                                  Woburn
M1H         Scarborough                               Cedarbrae

In [89]:
#Change any existing not assigned values to the corresponding Borough name
x = df1['Neighborhood']
for i in range(len(x)):
        if x.iloc[i] == 'Not assigned':
            x.iloc[i] == df['Borough'].iloc[i]
        else:
            pass

In [90]:
df1.shape #display number of rows

(103, 1)